<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ExchangeEntities" connectionString="metadata=res://*/Exchange.ExchangeEntities.csdl|res://*/Exchange.ExchangeEntities.ssdl|res://*/Exchange.ExchangeEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.80\SQLEXPRESS,1433;initial catalog=Exchange;persist security info=True;user id=test;password=test;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MainDatabaseEntities" connectionString="metadata=res://*/MainDatabase.MainDatabaseEntities.csdl|res://*/MainDatabase.MainDatabaseEntities.ssdl|res://*/MainDatabase.MainDatabaseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.80\SQLEXPRESS,1433;initial catalog=Exchange;persist security info=True;user id=test;password=test;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>